# COVID 19 Mexican Analysis
## Cesar Robles

### Introduction
Retrieving the information from the Mexican source system. All the information is public and anyone can download and interact with it.
The *database* is in the following link: http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip
The principal *descriptors* are in the following link: http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip

Both files are needed to understand the information collected by the Mexican Health Ministry. The information was splitted to avoid problems with the size volume. In this sense, this action help us to download the information.

**Needed libraries:**

The following lines can skip if you already have the packages.

In [1]:
!pip install pandas numpy zipfile37 xlrd openpyxl

Requirement already satisfied: pandas in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (1.1.2)
Requirement already satisfied: numpy in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (1.18.0)
Requirement already satisfied: zipfile37 in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (0.1.3)
Requirement already satisfied: xlrd in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: openpyxl in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (3.0.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: jdcal in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: six>=1.5 in /Users/c.marcoa.roblesg./Documents/Projects/virtual_environment/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

**Importing the libraries**

In [2]:
import pandas as pd
import zipfile
import glob
import os
import re

In [3]:
def checkFiles(fileName,files):
    flag = 0
    for file in files:
        if not re.search(fileName,file) == None:
            flag = 1
        else:
            flag = 0
    return flag, fileName

In [4]:
path = 'Databases'
files = glob.glob(os.path.join(path,'*'))

[flag,fileName] = checkFiles('datos_abiertos_covid19.zip',files)
if flag == 1:
    os.system('rm -r '+os.path.join(path,fileName))
    !wget -P 'Databases' http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip
else:
    !wget -P 'Databases' http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip

[flag,fileName] = checkFiles('diccionario_datos_covid19.zip',files)
if flag == 1:
    os.system('rm -r '+os.path.join(path,fileName))
    !wget -P 'Databases' http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip
else:
    !wget -P 'Databases' http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip

[flag,fileName] = checkFiles('datos_abiertos_covid19.csv',files)
if flag == 1:
    os.system('rm -r '+os.path.join(path,fileName))
[flag,fileName] = checkFiles('diccionario_datos_covid19',files)
if flag == 1:
    os.system('rm -r '+os.path.join(path,fileName))

--2020-10-12 00:07:58--  http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip
Resolving datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)... 187.210.186.146
Connecting to datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)|187.210.186.146|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45021756 (43M) [application/x-zip-compressed]
Saving to: ‘Databases/datos_abiertos_covid19.zip’

datos_abiertos_covi 100%[===================>]  42.94M  4.18MB/s    in 10s

2020-10-12 00:08:08 (4.13 MB/s) - ‘Databases/datos_abiertos_covid19.zip’ saved [45021756/45021756]

--2020-10-12 00:08:08--  http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip
Resolving datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)... 187.210.186.146
Connecting to datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)|187.210.186.146|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 146303 (143K) [application/x-zip-compressed]
Saving to: ‘Databases/diccionario_datos_covid19.zip’

diccionario_datos_c 100%[===================>] 142.87K  --.-KB/s    in 0.06s

2020-10-12 00:08:08 (2.29 MB/s) - ‘Databases/diccionario_datos_covid19.zip’ saved [146303/146303]

**Extracting the information**

In [5]:
import zipfile
files = glob.glob(os.path.join(path,'*.zip'))
for file in files:
    if file == "Databases/diccionario_datos_covid19.zip":
        with zipfile.ZipFile(file,"r") as zip_ref:
            zip_ref.extractall("Databases/diccionario_datos_covid19/.")
    else:
        with zipfile.ZipFile(file,"r") as zip_ref:
            zip_ref.extractall("Databases/.")

In [6]:
files = glob.glob(os.path.join(path,'*.csv'))
db = pd.read_csv(files[0],engine='python')
db.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA,RESULTADO_LAB,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-10-11,071735,2,9,21,2,21,21,114,1,...,2,2,2,1,1,3,99,México,97,97
1,2020-10-11,1c4583,2,12,9,2,9,9,4,1,...,2,2,2,1,1,3,99,México,97,97
2,2020-10-11,0d55c9,2,12,9,1,9,9,16,1,...,2,2,2,1,1,3,99,México,97,97
3,2020-10-11,002371,1,4,3,2,3,3,8,1,...,2,2,99,1,1,3,99,México,97,97
4,2020-10-11,11fb00,1,12,9,2,9,9,15,1,...,2,2,1,1,1,3,99,México,97,97

In [7]:
# Get positive COVID 19 infected people
data = db.loc[(db['RESULTADO_LAB']==1)]
print(len(data))
data.head()

792920

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,TOMA_MUESTRA,RESULTADO_LAB,CLASIFICACION_FINAL,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-10-11,071735,2,9,21,2,21,21,114,1,...,2,2,2,1,1,3,99,México,97,97
1,2020-10-11,1c4583,2,12,9,2,9,9,4,1,...,2,2,2,1,1,3,99,México,97,97
2,2020-10-11,0d55c9,2,12,9,1,9,9,16,1,...,2,2,2,1,1,3,99,México,97,97
3,2020-10-11,002371,1,4,3,2,3,3,8,1,...,2,2,99,1,1,3,99,México,97,97
4,2020-10-11,11fb00,1,12,9,2,9,9,15,1,...,2,2,1,1,1,3,99,México,97,97

In [8]:
os.system('rm -r '+os.path.join(path,'*.zip'))
files = glob.glob(os.path.join(path,'*/*'))
for file in files:
    if re.search('Catalogos',file) != None:
        print(file)
        break
catalogues = pd.ExcelFile(file)
catalogues.sheet_names

Databases/diccionario_datos_covid19/Catalogos_071020.xlsx

['Catálogo ORIGEN',
 'Catálogo SECTOR',
 'Catálogo SEXO',
 'Catálogo TIPO_PACIENTE',
 'Catálogo SI_NO',
 'Catálogo NACIONALIDAD',
 'Catálogo RESULTADO_LAB',
 'Catálogo CLASIFICACION_FINAL',
 'Catálogo de ENTIDADES',
 'Catálogo MUNICIPIOS']

In [9]:
origen = catalogues.parse('Catálogo ORIGEN')
data = pd.merge(data,origen,left_on='ORIGEN',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'ORIGEN_DESC'})
data = data.drop('CLAVE',axis=1)
len(data)

792920

In [10]:
sector = catalogues.parse('Catálogo SECTOR')
data = pd.merge(data,sector,left_on='SECTOR',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'SECTOR_DESC'})
data = data.drop('CLAVE',axis=1)
len(data)

792920

In [11]:
sexo = catalogues.parse('Catálogo SEXO')
data = pd.merge(data,sexo,left_on='SEXO',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'SEXO_DESC'})
data = data.drop('CLAVE',axis=1)
len(data)

792920

In [12]:
tipoPaciente = catalogues.parse('Catálogo TIPO_PACIENTE')
data = pd.merge(data,tipoPaciente,left_on='TIPO_PACIENTE',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'TIPO_PACIENTE_DESC'})
data = data.drop('CLAVE',axis=1)
len(data)

792920

In [13]:
nacionalidad = catalogues.parse('Catálogo NACIONALIDAD')
data = pd.merge(data,nacionalidad,left_on='NACIONALIDAD',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'NACIONALIDAD_DESC'})
data = data.drop('CLAVE',axis=1)
len(data)

792920

In [14]:
resultadoLab = catalogues.parse('Catálogo RESULTADO_LAB',1)
data = pd.merge(data,resultadoLab,left_on='RESULTADO_LAB',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'RESULTADO_LAB_DESC'})
data = data.drop('CLAVE',axis=1)
len(data)

792920

In [15]:
classificacion_final = catalogues.parse('Catálogo CLASIFICACION_FINAL',2)
data = pd.merge(data,classificacion_final,left_on='CLASIFICACION_FINAL',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'CLAS_DESC'})
data = data.drop('CLAVE',axis=1)
len(data)

792920

In [16]:
entidades = catalogues.parse('Catálogo de ENTIDADES')
data = pd.merge(data,entidades,left_on='ENTIDAD_NAC',right_on='CLAVE_ENTIDAD')
data = data.rename(columns={'ENTIDAD_FEDERATIVA':'ENTIDAD_FEDERATIVA_NAC','ABREVIATURA':'ABREVIATURA_NAC'})
data = data.drop('CLAVE_ENTIDAD',axis=1)
len(data)

792920

In [17]:
entidades = catalogues.parse('Catálogo de ENTIDADES')
data = pd.merge(data,entidades,left_on='ENTIDAD_RES',right_on='CLAVE_ENTIDAD')
data = data.rename(columns={'ENTIDAD_FEDERATIVA':'ENTIDAD_FEDERATIVA_RES','ABREVIATURA':'ABREVIATURA_RES'})
data = data.drop('CLAVE_ENTIDAD',axis=1)
len(data)

792920

In [18]:
entidades = catalogues.parse('Catálogo de ENTIDADES')
data = pd.merge(data,entidades,left_on='ENTIDAD_UM',right_on='CLAVE_ENTIDAD')
data = data.rename(columns={'ENTIDAD_FEDERATIVA':'ENTIDAD_FEDERATIVA_UM','ABREVIATURA':'ABREVIATURA_UM'})
data = data.drop('CLAVE_ENTIDAD',axis=1)
len(data)

792920

In [19]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='INTUBADO',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'INTUBADO_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [20]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='NEUMONIA',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'NEUMONIA_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [21]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='HABLA_LENGUA_INDIG',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'HABLA_LENGUA_INDIG_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [22]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='INDIGENA',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'INDIGENA_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [23]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='DIABETES',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'DIABETES_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [24]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='EPOC',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'EPOC_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [25]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='ASMA',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'ASMA_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [26]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='INMUSUPR',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'INMUSUPR_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [27]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='OTRA_COM',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'OTRA_COM_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [28]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='CARDIOVASCULAR',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'CARDIOVASCULAR_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [29]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='OBESIDAD',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'OBESIDAD_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [30]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='RENAL_CRONICA',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'RENAL_CRONICA_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [31]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='TABAQUISMO',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'TABAQUISMO_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [32]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='OTRO_CASO',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'OTRO_CASO_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [33]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='TOMA_MUESTRA',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'TOMA_MUESTRA_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [34]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='MIGRANTE',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'MIGRANTE_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [35]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='UCI',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'UCI_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [36]:
si_no = catalogues.parse('Catálogo SI_NO')
data = pd.merge(data,si_no,left_on='HIPERTENSION',right_on='CLAVE')
data = data.rename(columns={'DESCRIPCIÓN':'HIPERTENSION_DESC'})
data = data.drop(['CLAVE'],axis=1)
len(data)

792920

In [37]:
municipios = catalogues.parse('Catálogo MUNICIPIOS')
data = pd.merge(data,municipios,left_on=['MUNICIPIO_RES','ENTIDAD_RES'],right_on=['CLAVE_MUNICIPIO','CLAVE_ENTIDAD'])
data = data.drop(['CLAVE_ENTIDAD','CLAVE_MUNICIPIO'],axis=1)
data = data.rename(columns={'MUNICIPIO':'MUNICIPIO_RES_DESC'})
len(data)

792915

In [38]:
data.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR_DESC,OBESIDAD_DESC,RENAL_CRONICA_DESC,TABAQUISMO_DESC,OTRO_CASO_DESC,TOMA_MUESTRA_DESC,MIGRANTE_DESC,UCI_DESC,HIPERTENSION_DESC,MUNICIPIO_RES_DESC
0,2020-10-11,071735,2,9,21,2,21,21,114,1,...,SI,NO,NO,NO,NO,SI,NO ESPECIFICADO,NO APLICA,NO,PUEBLA
1,2020-10-11,14b103,2,12,21,2,21,21,114,1,...,SI,NO,NO,NO,NO,SI,NO ESPECIFICADO,NO APLICA,NO,PUEBLA
2,2020-10-11,0782d5,2,9,21,2,15,21,114,1,...,SI,NO,NO,NO,NO,SI,NO ESPECIFICADO,NO APLICA,NO,PUEBLA
3,2020-10-11,1d43c7,2,9,21,2,21,21,114,1,...,SI,NO,NO,NO,NO,SI,NO ESPECIFICADO,NO APLICA,NO,PUEBLA
4,2020-10-11,233031,2,4,21,2,21,21,114,1,...,SI,NO,NO,NO,NO,SI,NO ESPECIFICADO,NO APLICA,NO,PUEBLA

In [39]:
path = 'Files'
os.system('rm -r Databases/*')
data.to_csv(os.path.join(path,'mex_covid_daily.csv'),index=False,encoding='utf-8')
#data.to_excel(os.path.join(path,'mex_covid_daily.xlsx'),'DB',index=False)

In [40]:
columnas = data.columns.tolist()
columnas.sort()
columnas

['ABREVIATURA_NAC',
 'ABREVIATURA_RES',
 'ABREVIATURA_UM',
 'ASMA',
 'ASMA_DESC',
 'CARDIOVASCULAR',
 'CARDIOVASCULAR_DESC',
 'CLASIFICACION_FINAL',
 'CLASIFICACIÓN',
 'CLAS_DESC',
 'DIABETES',
 'DIABETES_DESC',
 'EDAD',
 'EMBARAZO',
 'ENTIDAD_FEDERATIVA_NAC',
 'ENTIDAD_FEDERATIVA_RES',
 'ENTIDAD_FEDERATIVA_UM',
 'ENTIDAD_NAC',
 'ENTIDAD_RES',
 'ENTIDAD_UM',
 'EPOC',
 'EPOC_DESC',
 'FECHA_ACTUALIZACION',
 'FECHA_DEF',
 'FECHA_INGRESO',
 'FECHA_SINTOMAS',
 'HABLA_LENGUA_INDIG',
 'HABLA_LENGUA_INDIG_DESC',
 'HIPERTENSION',
 'HIPERTENSION_DESC',
 'ID_REGISTRO',
 'INDIGENA',
 'INDIGENA_DESC',
 'INMUSUPR',
 'INMUSUPR_DESC',
 'INTUBADO',
 'INTUBADO_DESC',
 'MIGRANTE',
 'MIGRANTE_DESC',
 'MUNICIPIO_RES',
 'MUNICIPIO_RES_DESC',
 'NACIONALIDAD',
 'NACIONALIDAD_DESC',
 'NEUMONIA',
 'NEUMONIA_DESC',
 'OBESIDAD',
 'OBESIDAD_DESC',
 'ORIGEN',
 'ORIGEN_DESC',
 'OTRA_COM',
 'OTRA_COM_DESC',
 'OTRO_CASO',
 'OTRO_CASO_DESC',
 'PAIS_NACIONALIDAD',
 'PAIS_ORIGEN',
 'RENAL_CRONICA',
 'RENAL_CRONICA_DESC',
 'RESULTADO_LAB',
 'RESULTADO_LAB_DESC',
 'SECTOR',
 'SECTOR_DESC',
 'SEXO',
 'SEXO_DESC',
 'TABAQUISMO',
 'TABAQUISMO_DESC',
 'TIPO_PACIENTE',
 'TIPO_PACIENTE_DESC',
 'TOMA_MUESTRA',
 'TOMA_MUESTRA_DESC',
 'UCI',
 'UCI_DESC']

In [59]:
x=data.groupby(['FECHA_INGRESO'],as_index=False)['ID_REGISTRO'].count()

In [51]:
x

,FECHA_INGRESO,FECHA_SINTOMAS,ENTIDAD_FEDERATIVA_UM,FECHA_ACTUALIZACION,ID_REGISTRO
0,2020-01-13,2020-01-13,NUEVO LEÓN,2020-10-11,1
1,2020-01-29,2020-01-29,SINALOA,2020-10-11,1
2,2020-02-24,2020-02-24,CHIHUAHUA,2020-10-11,1
3,2020-02-24,2020-02-24,CIUDAD DE MÉXICO,2020-10-11,1
4,2020-02-27,2020-02-22,CIUDAD DE MÉXICO,2020-10-11,1
...,...,...,...,...,...
70649,2020-10-10,2020-10-09,QUERÉTARO,2020-10-11,5
70650,2020-10-10,2020-10-09,TABASCO,2020-10-11,2
70651,2020-10-10,2020-10-10,NUEVO LEÓN,2020-10-11,5
70652,2020-10-10,2020-10-10,PUEBLA,2020-10-11,1
70653,2020-10-10,2020-10-10,TABASCO,2020-10-11,4

In [69]:
data.groupby(['FECHA_SINTOMAS'],as_index=False)['ID_REGISTRO'].count()

    FECHA_SINTOMAS  ID_REGISTRO
0       2020-01-13            1
1       2020-01-29            1
2       2020-02-19            1
3       2020-02-21            1
4       2020-02-22            2
..             ...          ...
231     2020-10-06         1207
232     2020-10-07          690
233     2020-10-08          252
234     2020-10-09           75
235     2020-10-10           10

[236 rows x 2 columns]

In [75]:
data.dtypes

FECHA_ACTUALIZACION    object
ID_REGISTRO            object
ORIGEN                  int64
SECTOR                  int64
ENTIDAD_UM              int64
                        ...
TOMA_MUESTRA_DESC      object
MIGRANTE_DESC          object
UCI_DESC               object
HIPERTENSION_DESC      object
MUNICIPIO_RES_DESC     object
Length: 71, dtype: object

In [78]:
data['FECHA_INGRESO']

0         2020-03-18
1         2020-05-25
2         2020-06-30
3         2020-08-17
4         2020-09-26
             ...
792910    2020-05-06
792911    2020-06-21
792912    2020-09-15
792913    2020-07-20
792914    2020-04-28
Name: FECHA_INGRESO, Length: 792915, dtype: object

In [83]:
x=data.groupby('EDAD',as_index=False)['ID_REGISTRO'].count()

In [84]:
x.max()

EDAD             118
ID_REGISTRO    18338
dtype: int64

In [86]:
data['EDAD'].min()

0

In [91]:
import datetime

date_time_str = '2020-10-11'
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d')
print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)
date_time_obj.year

Date: 2020-10-11
Time: 00:00:00
Date-time: 2020-10-11 00:00:00

2020

In [118]:
data['FECHA_INGRESO'] = pd.to_datetime(data['FECHA_INGRESO'])

In [128]:
x=data.loc[(data['FECHA_INGRESO'].dt.month==10)]

   FECHA_INGRESO   FECHA_DEF  ID_REGISTRO
0     2020-10-01  2020-10-01           20
1     2020-10-01  2020-10-02           16
2     2020-10-01  2020-10-03           27
3     2020-10-01  2020-10-04           16
4     2020-10-01  2020-10-05           12
..           ...         ...          ...
62    2020-10-09  2020-10-09            2
63    2020-10-09  2020-10-10            2
64    2020-10-09  9999-99-99         1191
65    2020-10-10  2020-10-10            1
66    2020-10-10  9999-99-99          115

[67 rows x 3 columns]